@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.Header {
  background-color: #EFEFEF;
}

.header-brand {
  color: #565b80 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 1.19em;
  font-weight: 600;
}

