@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
    .dashboard {
        grid-template-areas:
                "title"
                "map"
                "stats"
                "graph"
                "report";
        grid-template-columns: 1fr;

        .dashboard-header-title {
            font-size: 1.8em;
            padding: 0 11px;
            margin-bottom: 1em;
        }
    }
}

@include media-breakpoint-up(md) {
    .dashboard {
        grid-template-areas:
                "title title title"
                "stats map map"
                "stats map map"
                "graph graph graph"
                "report report report";
        grid-template-columns: 1fr 1fr 1fr;

        .dashboard-header-title {
            margin-bottom: 2em;
        }
    }

    .dashboard-header-title {
    padding: 0 30px;
    }
}

.dashboard {
    display: grid;
    margin-top: 2em;
    //grid-auto-rows: auto;
    //grid-template-columns: repeat(3, 1fr);


    .dashboard-header-title {
        grid-area: title;
        text-align: center;
        color: #565b80 ;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
}

.stats {
    //grid-column: 1 / 2;
    grid-area: stats;
}

.map {
    grid-area: map;
    //grid-column: 2 / 4;
}

.feed-content-graph {
    grid-area: graph;
}

.reports {
    //grid-column: 1 / 4;
    grid-area: report;
    display: flex;
}