
.dashboard {
    display: grid;
    margin-top: 3em;
    //grid-auto-rows: auto;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
            "stats map map"
            "stats map map"
            "graph graph graph"
            "report report report";
    grid-template-columns: 1fr 1fr 1fr;
}



.dashboard-header {
    grid-column: 1 / 4;
}

.stats {
    //grid-column: 1 / 2;
    grid-area: stats;
}

.map {
    grid-area: map;
    //grid-column: 2 / 4;
}

.feed-content-graph {
    grid-area: graph;
}

.reports {
    //grid-column: 1 / 4;
    grid-area: report;
    display: flex;
}