@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
    .select-wrapper {
        .graph-header-select {
            width: 300px;
            .css-11msr9p-Control {
                width: 100%;
                }
        }
    }
}

@include media-breakpoint-up(md) {
    .graph-header {
        .select-wrapper {
            .graph-header-select {
                width: 400px;
            }
        }
    }
}


.graph-header {
    text-align: center;
    grid-column: 1 / 4;
    margin: 2em 0 0 0;

    .select-wrapper {
        display: flex;
        justify-content: center;

        .graph-header-select {
            margin-bottom: 1.5em;
            object-fit: contain;
            border-radius: 6px;
            border: solid 1px rgba(178, 178, 178, 0.29);
            background-color: var(--white);
            text-align-last: center;
            color: #565b80;
            &:focus {
                outline: none;
            }
        }
    }
}