@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
    .reports-title {
        font-size: 21px;
    }
    .report-wrapper {
        width: 300px;
    }
    .load-more {
        width: 90%;
        height: 55px;
    }
}

@include media-breakpoint-up(md) {
    .reports-title {
        font-size: 40px;
    }
    .report-wrapper {
        width: 30%;
    }
    .load-more {
        width: 452px;
        height: 58px;
    }
}


.reports-wrapper{
    text-align: -webkit-center;
    .reports-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.react_tinylink_card {
    margin-bottom: 3vh;
    border-radius: 5px;
}

.report {
    display: contents;
}

.hidden {
    display: none;
}

.load-more {
    text-align: center;
    cursor: pointer;
    object-fit: contain;
    border-radius: 6px;
    box-shadow: 0 10px 26px 0 rgba(86, 91, 128, 0.37);
    background-color: #565b80;
    color: white;
    vertical-align: middle;
    line-height: 58px;
    margin: 60px 10px 100px 10px;
}

.reports-title {
    text-align: center;
    color: #565b80;
    font-weight: 600;
    margin: 1.5em 0 1em 0;
}}