@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
    .map {
        width: 94vw;
        height: 40vh;
        justify-self: center;
        .react-transform-component, .react-transform-element {
            width: 94vw;
            justify-self: center;
        }
    }
}

@include media-breakpoint-up(md) {
    .map {
        margin-left: 3vw;
    }
    .react-transform-component, .react-transform-element {
        width: 100% !important;
    }
}

.map {
    display: inline;
}

.react-transform-component, .react-transform-element {
    height: 100% !important;
}