@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) {
    //Economica
    .stats {
        padding: 14px;

    }
    .stats-feed-header {
        padding: 14px 0;
    }
    .feed-content-numbers {
        .feed-content-numbers-item {
            .feed-content-numbers-title {
                .feed-content-numbers-icon {
                }
                .feed-content-numbers-title-text {
                    font-size: 21px;
                }
            }
            .feed-content-numbers-value {
                font-size: 2em;
                font-family: "Economica";
                font-weight: bold;
            }
        }
    }
    .feed-content-source {
        justify-content: space-between;
        .feed-content-source-title {
            font-size: 21px;
        }
    }
    .feed-content-flags {
        .feed-content-flag {
            height: 26px;
            width: 39px;
            object-fit: scale-down;

        }
    }
}

@include media-breakpoint-up(md) {
    .stats-feed-header {
        padding-bottom: 14px;
    }
    .feed-content-numbers {
        .feed-content-numbers-item {
            .feed-content-numbers-title {
                font-size: 25px;
                .feed-content-numbers-icon {
                }
                .feed-content-numbers-title-text {
                }
            }
            .feed-content-numbers-value {
                font-size: 50px;
                font-family: "Odibee Sans";
            }
        }
    }
    .feed-content-source {
        .feed-content-source-title {
            font-size: 25px;
        }
    }
    .feed-content-countries {
        .feed-content-countries-title {
            font-size: 25px;
        }
        .feed-content-flags {
            .feed-content-flag {
                height: 26px;

                img{
                    &:hover {
                        border: solid black 1px;
                    }
                }
            }
        }
    }
}



.stats {
    //grid-column: 1 / 2;

    .stats-feed-header {
        display: flex;
        justify-content: space-between;
        border-bottom: solid #565b8033 1px;

        .feed-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            font-weight: 700;
            color: #565b80;
            line-height: 1;
            .feed-title-top {
                font-size: 1.25em;
            }
            .feed-title-bottom {
                font-size: 2em;
            }
        }
        .feed-read {
            width: 71px;
            height: 21px;
            border-radius: 13px;
            background-color: #565b80;
            color: white;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            margin-bottom: 4px;
            align-self: flex-end;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.feed-content {
    .feed-content-numbers {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        padding-top: 14px;
        border-bottom: solid #565b8033 1px;

        .feed-content-numbers-item {
            display: flex;
            flex-direction: column;
            .feed-content-numbers-title {
                display: flex;
                justify-content: flex-start;

                .feed-content-numbers-icon {
                    margin-right: 5px;
                }
                .feed-content-numbers-title-text {

                }
            }
        }
    }
    .feed-content-source {
        display: flex;
        padding: 14px 0;
        border-bottom: solid #565b8033 1px;

        .feed-content-source-title {
            margin-right: 15px;
        }
        .feed-content-source-flag {
            display: inline-block;
            border-radius: 4px;
            overflow: hidden;
            height: 33px;
            img {
                &:hover {
                    border: solid black 1px;
                }
            }
        }
    }
    .feed-content-countries {
        padding: 0 0 14px 0;
        border-bottom: solid #565b8033 1px;

        .feed-content-countries-title {
            display: block;
            padding: 14px 0;
        }
        .feed-content-flags {
            display: flex;
            flex-wrap: wrap;
            .feed-content-flag {
                display: inline-block;
                margin: 0 8px 8px 0;
                border-radius: 4px;
                overflow: hidden;

                img{
                    &:hover {
                    border: solid black 1px;
                    }
                }
            }
        }
    }
}

